/* Typical Device Breakpoints:
Telas Pequenas: de 320px até 480px
Celular: de 481px até 768px
Tablet: de 769px até 1024px
Desktop: 1025px até 1200px
Telas Grandes: acima de 1201px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
    }
    
    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }

    #formulario > p {
        font-size: 1em;
    }
    
    form > input[type=submit] {
        float: right;
        width: 70%;
    }

    form > a.botao {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    #login {
        width: 950px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 50%;
    } 
    
    #formulario > p {
        font-size: 1.2em;
    }

    form > input[type=submit] {
        width: 49%;
    }

    form > a.botao {
        width: 49%;
    }

}